@model IEnumerable<GymTrainingDiary.Model.Training>

@using System.Globalization;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of trainings</h2>
<div>Displaying general info of @Model.Count() trainings</div>


<table class="table">

    <thead>

        <tr>
            <th>
                Id
            </th>

            <th>
                Start Time
            </th>

            <th>
                Finish Time
            </th>

            <th>
                User name
            </th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td class="cells">
                @{
                    string t = string.Format("{0:0}", item.Id);
                    @Html.DisplayFor(modelItem => t)
                }
            </td>

            <td class="cells">

                @{
                    string st = item.StartTime.ToString("dd.MM.yyyy HH:mm");
                    @Html.DisplayFor(modelItem => st)
                }

            </td>

            <td class="cells">
                @{
                    string ft = item.FinishTime.ToString("dd.MM.yyyy HH:mm", CultureInfo.InvariantCulture);
                    @Html.DisplayFor(modelItem => ft)
                }
            </td>

            <td class="cells">
                @Html.DisplayFor(modelItem => item.User.DisplayName)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary btn-large" })
            </td>

            <td>
                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-primary btn-large" })
            </td>

            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-primary btn-large" })
            </td>

        </tr>
    }

</table>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>


