@model GymTrainingDiary.Model.User

@using System.Globalization;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of trainings</h2>
<br />
<div>Displaying general info of @Model.Surname @Model.Name training(s)</div>
<br />

<p>
    @Html.ActionLink("Add new training", "Create", Model.Id, new { @class = "btn btn-primary" })
</p>

<br />

@Html.Partial("_TrainingsTemplate", Model.Trainings)

<p>
    @Html.ActionLink("Add new training", "Create", Model.Id, new { @class = "btn btn-primary" })
</p>


