@model IEnumerable<GymTrainingDiary.Model.Training>

@using System.Globalization;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of trainings</h2>

<div>Displaying general info of @Model.Count() trainings</div>

<table class="table">

    <thead>

        <tr>
            <th>
                User name
            </th>

            <th>
                Date
            </th>

            <th>
                Start Time
            </th>

            <th>
                Finish Time
            </th>

            <th>
                Duration
            </th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td class="cells">
                @Html.DisplayFor(modelItem => item.User.DisplayName)
            </td>

            <td class="cells">

                @{
                    string td = item.TrainingDate.ToString("dd.MM.yyyy");
                    @Html.DisplayFor(modelItem => td)
                }

            </td>

            <td class="cells">
                @{
                    string st = item.TrainingStart.ToString();
                    @Html.DisplayFor(modelItem => st)
                }
            </td>

            <td class="cells">
                @{
                    string ft = item.TrainingFinish.ToString();
                    @Html.DisplayFor(modelItem => ft)
                }
            </td>

            <td class="cells">
                @{
                    string dt = item.TrainingDuration.ToString();
                    @Html.DisplayFor(modelItem => dt)
                }
            </td>


            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary btn-large" })
            </td>

            <td>
                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-primary btn-large" })
            </td>

            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-large" })
            </td>

        </tr>
    }

</table>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>


